@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
* {
  box-sizing: border-box;
  display: block;
}
body {
  background-color: #b6bcc2;
}

.about {
  height: 1000px;
}

.about #explination {
  font-size: 200%;
  font-family: "roboto", sans-serif;
  text-align: center;
  margin: auto;
  height: 150px;
  width: 100%;
  background-color: white;
}

.about #explination h1 {
  padding-top: 60px;
}
